.cal-box{
  width: 400px;
  height: 550px;
  background-color: black;
  color: pink;
  font-size: 20px;
  font-family: cursive;
  margin: auto;
}
.outputbox-input{
  width: 370px;
  height: 60px;
  background-color: rgb(236, 229, 229);
  color: rgb(189, 58, 80);
  margin-bottom: 20px;
  font-size: 50px;

}
.button-row{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.btn{
  width: 50px;
  height: 40px;
  background-color: pink;
  color: black;
  font-size: 16px;
  cursor: pointer;
}